*.db
*.dSYM
*.so
*.a
*.o
*.out
boost_*
*-test*
*_f
*_debug_*
*-cli
.cproject
.project
.settings/
Makefile
CMakeCache.txt
CMakeFiles
CMakeFiles/*
CTestTestfile.cmake
cmake_install.cmake
lib/lmdb/CMakeFiles
lib/lmdb/CMakeFiles/*
lib/lmdb/CTestTestfile.cmake
lib/lmdb/cmake_install.cmake
install_manifest.txt
*.cbp
Testing
Testing/*
.idea/
lab
lab/*
build/*
cmake-build-debug
lib/lemonxx/lemon++
src/sql_parser.cpp
src/sql_parser.h
lemon++
*.gcov
*.gcno
*.gcda
unit_test
unit_test_all
func_test
func_test.db
func_test_*.dSYM
func_test_*.o
func_test_all
func_test_context
func_test_find
func_test_graph
func_test_index
func_test_inheritance
func_test_misc
func_test_record
func_test_schema
func_test_schema_txn
func_test_sql
func_test_txn
*.o
*_debug_address
*_enable_version
gtest_installer.sh
