*.db
*.dSYM
*.so
*.a
*.o
runtest
runtest_*
boost_*
*-test*
*_f
*_debug_*
*-cli
.cproject
.project
.settings/
Makefile
CMakeCache.txt
CMakeFiles
CMakeFiles/*
CTestTestfile.cmake
cmake_install.cmake
lib/lmdb/CMakeFiles
lib/lmdb/CMakeFiles/*
lib/lmdb/CTestTestfile.cmake
lib/lmdb/cmake_install.cmake
install_manifest.txt
*.cbp
Testing
Testing/*
.idea/
lab
lab/*
build/*
cmake-build-debug
lib/lemonxx/lemon++
src/sql_parser.cpp
src/sql_parser.h
lemon++
*.gcov
*.gcno
*.gcda
unittest
unittest_all
apitest
apitest_*
apitest_all
functest
functest_*.dSYM
functest_*.o
functest_all
functest_context
functest_find
functest_graph
functest_index
functest_inheritance
functest_misc
functest_record
functest_schema
functest_schema_txn
functest_sql
functest_txn
*.o
*_debug_address
*_enable_version
gtest_installer.sh
example
example/*
**/example/*
