*.db
*.dSYM
*.so
*.a
*.o
runtest
runtest_*
boost_*
*-test*
*_f
*_debug_*
*-cli
.cproject
.project
.settings/
Makefile
CMakeCache.txt
CMakeFiles
CMakeFiles/*
CTestTestfile.cmake
cmake_install.cmake
lib/lmdb/CMakeFiles
lib/lmdb/CMakeFiles/*
lib/lmdb/CTestTestfile.cmake
lib/lmdb/cmake_install.cmake
install_manifest.txt
*.cbp
Testing
Testing/*
.idea/
lab
lab/*
build/*
cmake-build-debug
